<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pocketteam.pocketteam" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AddTeamActivity"
            android:label="@string/add_team"
            android:parentActivityName=".Activities.TeamListActivity" />
        <activity
            android:name=".Activities.AddPlayerActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Activities.RosterActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Activities.TeamListActivity" />
        <activity
            android:name=".Activities.TeamListActivity"
            android:label="@string/pocketTeam"
            android:parentActivityName=".Activities.WelcomeActivity" />
        <activity
            android:name=".Activities.PlayerProfileActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Activities.SprayChartActivity"
            android:label="@string/app_name" />

        <activity android:name=".Activities.BattingAvgActivity" >
        </activity>
        <activity android:name=".Activities.EraActivity" >
        </activity>
        <activity android:name=".Activities.ScoutPlayerActivity" >
        </activity>
        <activity android:name=".Activities.HitsActivity" >
        </activity>
        <activity android:name=".Activities.SluggingActivity" >
        </activity>
        <activity android:name=".Activities.RbiActivity" >
        </activity>
        <activity android:name=".Activities.HomeRunActivity" >
        </activity>
    </application>

</manifest>
